<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Library Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let library of libraries">
    <tr class="clickable" [routerLink]="['/library-details/', library.libraryId]">
      <td>{{library.libraryNumber}}</td>
      <td>{{library.name}}</td>
      <td>{{library.address}}</td>
      <td><a routerLink="/book-list" routerLinkActive="active"><i class="fas fa-edit"></i></a><a><i class="fas fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>